.pwdinput_title {
  color: white;
  font-size: 18px;
}

.pwd_input {
  background-color: black;
}

.pwd_title {
  color: white;
  font-size: 25px;
}

.pwd_btn {
  margin: 40px;
  padding: 10px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .pwd_container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pwd_wrapper {
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 10px;
    box-shadow: -1px 14px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 14px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 14px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .pwdinput_title {
    color: white;
    font-size: 18px;
  }

  .pwd_input {
    background-color: black;
  }

  .pwd_title {
    color: white;
    font-size: 25px;
  }

  .pwd_btn {
    margin: 40px;
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
  }
}
